body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* ---------------HEADER--------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.accent {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/* ---------------HEADER--------------- */

/* ---------------HERO--------------- */
.hero {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---------------HERO--------------- */

/* ---------------FEATURES--------------- */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-item-descr {
}
/* ---------------FEATURES--------------- */

/* ---------------OUR-TEAM--------------- */
.ourteam {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.ourteam-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-item {
  background-color: #ffffff;
  flex-basis: calc(100% - 72px) / 4;
  border-radius: 0 0 4px 4px;
}

.ourteam-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-descr {
  text-align: center;
}
/* ---------------OUR-TEAM--------------- */

/* ---------------OURPORTFOLIO--------------- */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-image {
}

.portfolio-card-wrapper {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-descr {
}
/* ---------------OURPORTFOLIO--------------- */

/* ---------------FOOTER--------------- */
.footer {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .accent {
  color: #f4f4fd;
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-wrapper {
}
/* ---------------FOOTER--------------- */
